.card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgba(0, 0, 0, 0.1);
}


.card-actions {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    margin: 3px 3px;
}

.action-button {
    width: 3rem;
    height: 3rem;
}

.action-button:hover {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-white);
}

.button-selected {
    border: 1px solid var(--color-white);
}

.action__thumbUp {
    background: #41A7A3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__thumbDown {
    background: #FBBD4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__voteNow {
    width: 100%;
    background-color: var(--color-darker-background);
    border: 1.5px solid var(--color-white);
    color: var(--color-white);
}

.action__voteNow:hover {
    width: 100%;
    background-color: var(--color-light-background);
    border: 1.5px solid var(--color-white);
    color: var(--color-white);
}

.card-survey {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    color: var(--color-white);
}

.card-survey__percentage>span {
    padding: 0 10px;
}

.card-survey__percentage {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.action__voteAgain {
    display: block;
    margin: auto;
    border: 1px solid var(--color-white);
    padding: 5px 5px;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.info-text {
    text-align: center;
    margin: 5px 0;
}